body
{

background-image: linear-gradient(rgb(252, 1, 42), rgb(4, 0, 255));
background-repeat: repeat-X;

}
h1
{
  color:rgb(3, 5, 1);
  font-size: 100px ;
  text-align: center;  
}
p
{
    font-size:20px;
    font-family:monospace;
    font-style:italic;
    font-weight: lighter;
    color:rgb(0, 0, 0);
}



.buttonJC
{
    background-color: rgb(12, 238, 65);
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    
}

img
{
    height: 300px;
    width: 300px;
    text-align: center;
}

.buttonJJ
{
    background-color: blue;
    border-color: black;
    border-style: solid;
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.buttonSS
{
    background-color: red;
    border-color: blue;
    border-style: solid;
    height: 75px;
    width: 75px;
    border-radius: 10px;
}


table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  th {
    background-color: lightgray;
    font-weight: bold;
    color:black;
    border: 1px solid black;
  }
